@media  screen and (max-width:500px){
   .cont{
    width: 100%;
   } 
 .header .right-bar{
    display: none;
   }
   .enquiry,.services,.terms-condition,.about{
      margin-top: 100px;
   }
  .header .search-bar{
      margin-right: 50px;
      width: 20em;
      border: none;
   }
}







@media  screen and(max-width:1000px)  {
   .cont{
      width: 100%;
      
   }
   body{
      background-color: red;
   }
   .header{
      display: none;
   }
}